<!DOCTYPE html>
<html>
<head>
	<title>Inline Editor (Vue)</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<h1>Inline Editor (Vue)</h1>

	<!-- `v-cloak` hides things until Vue is loaded and ready (may need some additional CSS styling) -->
	<div id="main" v-cloak>
		
		<!-- `v-if` works like an if statement -->
		<div class="tooltip" v-if="show_tooltip">
			<!-- `v-model` is a directive that tells Vue what to do -->
			<input type="text" v-model="text_content"/>
		</div>

		<!-- `v-on:click` works like an onClick event listener -->
		<p v-on:click="toggleTooltip">{{ text_content }}</p>

	</div>

	<script src="https://unpkg.com/vue"></script>
	<script src="main.js"></script>
</body>
</html>